*{
  font-family: 'Courier New', Courier, monospace;
}

.container-login {
  background-color: #6a1727;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  .container-content {
    display: flex;
    border-radius: 1rem;
    box-shadow: 0 3px 6px #00000029;
    background-color: #85695f;
    .container-img {
      width: 50%;
      img {
        width: 100%;
        display: flex;
        border-radius: 1rem 0rem 0rem 1rem;
      }
    }
    .container-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .container-input {
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
      }
      .container-forgot {
        display: flex;
        justify-content: space-between;
        width: 50%;
        a {
          cursor: pointer;
          text-decoration: none;
        }
      }
      .container-button {
      }
    }
  }
}
